.header{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.button button{
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    width: 100%;
    
}
.button .pul{
    background-color: green;
}
.button .min{
    background-color: yellowgreen;
}
.button .bre{
    background-color: crimson;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

form input{
    padding: 10px;
    outline: none;
    font-size: 20px;
}
form button{
    padding: 10px;
    font-size: 20px;
}
spam{
    font-size: 25px;
}